.container{
    display:flex;
    align-items: center;
    justify-content:center;
    margin-top: 348px;
}


#form::before{
    content: "";
    position: absolute;
    background: url('"D:\sit313\task2.1P\bg1.jpeg"');
    height: 100vh;
    width: 100%;
    z-index: -1;
}

#form{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    background-color: white;
    border-radius: 53px;
}


#form input{
    margin: 20px;
    margin-left: 10px;
    padding: 15px 20px;
    border-radius: 20px;
    border:2px solid rgb(0, 118, 91);
   
}

#form p{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bolder;
}

.btn{
    background-color: black;
    color: rgb(211, 161, 161);
    border-radius: 33px;
    font-size: 20px;
    padding: 15px;
    border: 2px solid whitesmoke;
    transition: all 0.2s ease-in;
}
.btn:hover{
    background-color: whitesmoke;
    color: black;
    border: 2px solid black;

}